.main{
    background-color:rgb(46, 175, 132);
    width: 980px;
    height: 800px;
    margin: auto; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: larger;
}
.header{
    width: 980px;
    height: 140px;
    border-bottom: 15px solid white;
}
.container{
    height: 450px;
    width: 980px;
    float: left;
}
.sidebar{
    height: 450px;
    width: 270px;
    border-right: 15px solid white;
    float: left;
}
.content{
    width: 690px;
    height: 450px;  
    float: left;  
}
.footer{
    height: 70px;
    width: 980px;
    border-top: 15px solid white;
    float: left;
}